button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.previous-list {
    
  
  float: left;
   padding: 5px;
}
li{
    display: inline;

}



.previous-item {
    
  
  color: black;
  font-size: 15px;
  
}


#background{
   
    background: white;
  
    border-radius: 3px;
    border: 1px solid #58041d;
    padding: 5px;
    
}
.prevSearch{
    margin-top: 15px;     
margin-left: -20%;
  padding: 5px;
    background: white;
    display: none;
   
    border-radius: 3px;
    border: 1px solid #58041d;
    
}

a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover{
   text-decoration: underline;
    color: black;
    
}

@media only screen and (min-width: 320px){
    
    .prevSearch{
        
       
    background: white;
    display: none;
  
    border-radius: 3px;
    border: 1px solid #58041d;
    
}
   
}
